fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
python-multipart
jinja2

passlib==1.7.4
bcrypt==3.1.7
python-jose[cryptography]

spacy
pandas
scikit-learn
requests
coreapi
dnspython
email-validator
ollama
pypdf
pdfminer.six